.App {
    text-align: center;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-logo {
    height: 20vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #9fa9bd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 2vmin);
    color: black;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #storedetails {
    text-align : center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    height: 60px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url("https://www.teahub.io/photos/full/8-80263_cool-blurry-image-background-1920x1080-simple.jpg");
  }
  
  #storeDetails  td, #storeDetails  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  span + span {
    margin-left: 50px;
  }
  
  #storeDetails {
    background-color: rgb(242, 248, 186);
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #storeDetails  tr:nth-child(even){background-color: #f2f2f2;}
  
  #storeDetails  tr:hover {background-color: #ddd;}
  
  #storeDetails  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0c0c0c;
    color: rgb(247, 248, 244);
  }
  